@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
  min-height: 100vh;
  background: #6fff0031;
}

/* Sidebar Navigation*/
.navigation {
position:fixed;
top: 56px;
left: 0;
bottom: 0;
width: 60px;
border-radius: 5px;
box-sizing: initial;
border-top: 5px solid #ffffff;
background-color: #529B1D;
transition: width 0.5s;
overflow-x:hidden ;
}

.navigation.active {
  width: 290px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  padding-left: 5px;
  padding-top: 90px;
}

.navigation ul li {
  position: relative;
  list-style:none ;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li.active {
  background: #fff;
}

/*
.navigation ul li b:nth-child(1)
{
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  background: #fff;  
}

.navigation ul li b:nth-child(1)::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #529B1D;
}

.navigation ul li b:nth-child(2) 
{
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 100%;
  background: #fff;  
}

.navigation ul li b:nth-child(2)::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #529B1D;
}

*/

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li.active a {
  color: #529B1D;
}

.navigation ul li .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.icon:hover {
  transform: scale(1.1);
}

/*
.hide{
  position:fixed;
  top: 170px;
  left: 70px;
  width: 90px;
  border-radius: 5px;
  box-sizing: initial;
  background: #a2d47e;
  text-align: center;
  color:#fff;
  opacity: 0;
}

.icon:hover ~ .hide{
  opacity: 1;
}
*/

.navigation ul li .icon ion-icon {
  font-size: 1.5em;
}
.navigation ul li a .title{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}

.toggle{
  position:fixed ;
  top: 120px;
  left: 65px;
  width: 23px;
  height: 25px;
  background: #8fd55c;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.toggle.active {
  background: #8fd55c;
  top: 120px;
  left:300px;
}

.toggle ion-icon {
  position: absolute;
  color: #fff;
  font-size: 25px;
  display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
  display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
  display: none;
}

/* End of Sidebar Navigation*/

main {
  margin-left: 280px;
  flex: 4;
	padding: 10px;
  color: #1f2027;
  display: flex;
  z-index: -1;
}

main h2 {
  margin-bottom: 1rem;
  margin-top: 0px;
  color: #529B1D;
  font-size: 32px;
  font-weight: bold;
  font-family: Verdana;
}
 
/*TOP NAVIGATION BAR*/

.header{
	background-color: #ffffff;
	color: #fff;

}

.logo a img {
  height: 50px;
  width: 140px;
}

.topbar{
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
	justify-content: space-between;
	align-items: center;
  box-shadow: 2px 2px 5px #D1D1D1;
  
}


nav {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  margin: 0;
  padding: 5;
  align-items: center;
  display: flex;
  position: relative; left: -100px;

}

nav a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
}

a.notification{
position: relative; left: -30px;
background-color: #ECFFDE;
border-radius: 50%;
border: 1px #72B045;
padding: 14px;
font-size: 23px;
}

.topbar ul i:hover{
  animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}



.top-nav a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container or settings button?*/
.dropdown {
  overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
  outline: none;
  height: 51px;
  width: 51px;
  color: rgb(0, 0, 0);
  background-color: #ECFFDE;
  border-radius: 50%;
  border: 1px #72B045;
  padding: 14px;
  font-family: inherit; 
  font-size: 23px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
} 

/*end of settings*/
